{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_fielderror.html" as fielderror %}

{% block title %}cmb{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>绑定更换</h1>
    </div>

    <form method="POST" action="">
        {{ form.csrf_token }}
        <div class="row">
            <div class='col-sm-4'>
                <div class="form-group">
                    <label>{{ form.faccountid.label }}</label>
                    <div>{{ form.faccountid(class="form-control") }}</div>
                    {{ fielderror.field_errors(form.faccountid) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-2'>
                <div class="form-group">
                    <label>{{ form.submit.label }}</label>
                    <div>{{ form.submit(class="form-control btn btn-primary") }}</div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}